.accordeon {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.accordeon__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
	max-width: 25%;
}

.accordeon__item-avatar {
	max-width: 220px;
	max-height: 288px;
	margin-bottom: 15px;

}

.accordeon__item-avatar-img {
	max-width: 100%;
}

.accordeon__item-avatar--drop {
	height: 0px;
	overflow: hidden;

}

.accordeon__item-title {
	font-size: 21px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 5px;
	position: relative;
	outline: none;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	background: none;
}

.accordeon__item-box-text {
	color: $grey;
}