.bars {
	position: relative;
	background-color: $fone_bars;

	&:before {
		content: "";
		background: url(../img/bg/bar_berry_right-min.png) center center/contain no-repeat;
		width: 196px;
		height: 453px;
		position: absolute;
		bottom: -160px;
		right: 0;
		z-index: 2;
	}
}