.features {
	text-align: center;
	background: url(../img/bg/why_list_left.png) no-repeat;
	background-position: left center;
	position: relative;

	.section__title--centered {
		padding: 0 26%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 57px;

	}

	&:after {
	content: url(../img/bg/why_group_left.png);
	position: absolute;
	left: 0;
	top: 69%;
	}
}

.features__list {
	display: flex;
	justify-content: space-between;
}

.features__item {
	width: calc(100% / 3 - 60px);
	position: relative;

	:before {
		content: url(../img/point.png);
		position: absolute;
		top: 77px;
		left: -70px;
	}

	&:first-child :before {
		content: none;
	}

}

