.features {
	text-align: center;
	background: url(../img/bg/why_list_left.png) no-repeat;
	background-position: left center;
	position: relative;

	.section__title--centered {
		padding: 0 26%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;

	}

	&:after {
	content: url(../img/bg/why_group_left.png);
	position: absolute;
	width: 161px;
	height: 315px;
	top: 68%;
	left: 0;
	z-index: 2;
	}
}

.feature__title {
	font-size: 27px;
	font-weight: bold;
	margin: 25px 0;
}

.features__list {
	display: flex;
	justify-content: space-between;
}

.features__item {
	width: calc(100% / 3 - 35px);
	position: relative;

	&:after {
		content: url(../img/point.png);
		position: absolute;
		top: 77px;
		left: 270px;
	}
}

.features__item:last-child:after {
	content: "";
}