
.feature {
	text-align: center;

}

.feature__img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0;
}

.feature__img--wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $circle;
	border-radius: 50%;
	height: 130px;
	width: 130px;
}

.feature__img-elem {
	height: 70px;
}

.feature__text {
	color: $grey;
	line-height: 1.2;
	font-size: 18px;
}

.feature__text--light {
	font-weight: 300;
}

