.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	.container {
		display: flex;
		justify-content: space-between;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.header__btns {
	display: flex;
	align-items: center;
}

