.hero {
	position: relative;
	color: #fff;
	background: url(../img/content/hero_bg_bars.png) 85% center / 37% no-repeat,
							url(../img/bg/hero_bg_list.png) right center / contain no-repeat,
							#86c3d7;
							

	
	.container {
		position: relative;
		
		&:before {
			content: url(../img/bg/hero_bg_left.png);
			position: absolute;
			bottom: -55px;
			left: -40px;
		}

		&:after {
			content: url(../img/bg/hero_bg_group.png);
			position: absolute;
			bottom: -55px;
			right: -90px;
		}

	}
}

.hero__container {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}


.hero__desc {
	font-size: 21px;
	margin-bottom: 30px;
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 370px;
	margin-bottom: 60px;
}

