$white: #fff;
$green: #365a49;
$grey: #666;
$circle: #f2f5f4;
$fone_bars: #f8faf9;
$fone__order: #d2ddd9;

@import "./normalize.scss";
@import "./fonts.scss";
@import "./layout.scss";
@import "./animations.scss";
@import "./mixins.scss";

@import "./section.scss";
@import "./header.scss";
@import "./menu.scss";
@import "./hero.scss";
@import "./btn.scss";
@import "./phone.scss";
@import "./merit.scss";
@import "./features.scss";
@import "./feature.scss";
@import "./bars.scss";
@import "./team.scss";
@import "./accordeon.scss";
@import "./reviews.scss";
@import "./review.scss";
@import "./order.scss";
