.menu {
	display: flex;
	align-items: center;
	width: 75%;
}

.menu__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.menu__item {
	display: flex;
	align-items: center;
}

.menu__link {
	color: $white;
	text-decoration: none;
	font-weight: 400;	
	font-size: 18px;
}