$itemsMargin: 15px;

.menu {
	display: flex;
	align-items: center;
	width: 75%;
}

.menu__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu__item {
	display: flex;
	align-items: center;
	margin-right: $itemsMargin;
}

.menu__link {
	color: $white;
	margin-left: $itemsMargin;
	text-decoration: none;
	font-weight: 400;	
	font-size: 18px;
}