.order {
	position: relative;
	background: url("../img/bg/pattern.png") center center / cover no-repeat , $fone__order;

	
	&:before {
		content: "";
		background: url("../img/bg/delivery_berry.png") center center / contain no-repeat;
		width: 47px;
		height: 48px;
		position: absolute;
		bottom: 70px;
		left: 8px;
	}

	&:after {
		content: "";
		background: url("../img/bg/delivery_list.png") center center / contain no-repeat;
		width: 135px;
		height: 188px;
		position: absolute;
		bottom: 70px;
		right: 10px;
	}
}

.order .section__title {
	color: $green;
	margin-bottom: 2.8125rem;
	z-index: 2;
}


.order__form {
	display: flex;
	justify-content: space-between;


}

.form__column {
	width: calc(100% / 2 - 0.625rem);

}

.form__row {
	display: flex;
	justify-content: space-between;
	margin-top: 0.9375rem;

	&:first-child {
		margin-top: 0;
	}
}

.form__label {
	flex: 1;
	margin-left: 1.3125rem;

	&:first-child {
		margin-left: 0;
	}
}

.form__label-title {
	width: 100%;
	color: $green;
	font-size: 18px;
	margin-bottom: 0;
}

.form__input-text,
.form__textarea {
	width: 100%;
	font-family: "Open Sans", sans-serif;
	padding: 1.35rem 0.625rem;
	border: none;

	&:focus {
		outline: #dee2bd solid 3px;
	}

}

.form__textarea {
	resize: none;
	height: 11.125rem;
}


.form__row--radio {
	justify-content: flex-start;
}

.form__radio-label {
	display: flex;
	align-items: center;
	margin-right: 1.25rem;
	cursor: pointer;
}

.form__input-radio {
	display: none;

	&:checked+.form__radio-decor:before {
		content: "";
		width: 0.8125rem;
		height: 0.8125rem;
	}
}

.form__radio-decor {
	@include circle(1.625rem, 1.625rem);
	background-color: #fff;
	margin-right: 0.625rem;
	position: relative;
	flex-shrink: 0;

	&:before {
		content: "";
		@include circle(0, 0);
		background-color: $green;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: width .3s cubic-bezier(0.29, 2.9, 0.56, -0.04), height .3s cubic-bezier(0.29, 2.9, 0.56, -0.04);
	}
}

//оформление чекбокса

.form__row--checkbox {
	margin-top: 8px;
}

.form__label--checkbox {
	flex: 0.5;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.form__input-checkbox {
	display: none;
}

.form__input-checkbox:checked+.form__checkbox-decor:before {
	opacity: 1;
}

.form__checkbox-decor {
	display: inline-flex;
	width: 1.625rem;
	height: 1.625rem;
	background-color: #fff;
	margin-right: 0.625rem;

	&:before {
		content: url("../svg/check.svg");
		opacity: 0;
		transition: opacity .3s;
	}
}

.form__row--submit {
	justify-content: flex-start;
	align-items: center;
	margin-top: 40px;


	.button {
		margin-right: 1.8125rem;
	}

}

.reset_btn {
	font-size: 18px;
	border: none;
	background: none;
	color: $green;
	cursor: pointer;


	&:hover {
		color: black;
	}
}