.reviews {
	position: relative;

	&:before {
		content: "";
		background: url("../img/bg/review_group_left.png") center center / contain no-repeat;
		width: 139px;
		height: 321px;
		position: absolute;
		bottom: -160px;
		left: 0;

	}

	&:after {
		content: url("../img/bg/review_group_right.png");
		position: absolute;
		top: 25px;
		right: 16px;
	}
}


.reviews__list {
	width: 100%;
	display: flex;
	overflow: hidden;
	padding-top: 15px;
	margin-bottom: 30px;
}

.reviews__item {
	flex: 0 0 100%;
	background: url(../img/bg/review_bg_card.png) right top no-repeat #f8faf9;
	padding: 50px 0 0 45px;
	position: relative;


	&:before {
		content: "";
		display: block;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -65%);
	}

	.review__avatar {
		margin-right: 15px;

	}

	.review__content {
		max-width: 445px;
		max-height: 290px;
	}


}


.reviews__pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews__pagination-button {
	border: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.reviews__pagination-item {
	margin-right: 10px;

	&--active {
		.reviews__pagination-button {
			border: 6px solid #365a49;
		}
	}

	&:last-child {
		margin-right: 0;
	}

}

.reviews__pagination-img {
	font-size: 0;
	width: 100%;
}